# Files not to be tracked by git.
*.h5
*.hdf5
*.dat
*.gz
*.nii*
*.bin
*.mat
__pycache__/*
*.exe
*.7z
*Shortcut.lnk
*.seq.out
*.data
*.list
*.raw
*.o*
*.bak
*.mp4
*.zip
*.docx
*.pptx
*.nrb
*.csv
*.json
*.tmp
*.dcm
*.lnk
*.DS_Store
# Motion vector as text
*/*nifti_act_*frame*_to_frame*.txt
*/*vec_frame*_to_frame*.txt
*/*phantomTests_vec_frame*.txt
*/*/*phantomTests_vec_frame*.txt
*/*/*/*phantomTests_vec_frame*.txt
*/*/*vec_frame*_to_frame*.txt
*/*/*/*vec_frame*_to_frame*.txt
*/*/*nifti_act_*frame*_to_frame*.txt
*/*/*/*nifti_act_*frame*_to_frame*.txt